
__pycache__/ed25519.cpython-36.pyc
__pycache__/main.cpython-36.pyc
__pycache__/tipnem.cpython-36.pyc
__pycache__/python_sha3.cpython-36.pyc
build/test/base_library.zip
build/test/out00-COLLECT.toc
build/test/out00-Analysis.toc
build/test/out00-EXE.toc
build/test/out00-PKG.pkg
build/test/out00-PKG.toc
build/test/out00-PYZ.toc
build/test/out00-PYZ.pyz
build/test/out01-Tree.toc
build/test/out00-Tree.toc
build/test/out02-Tree.toc
build/test/test.exe
build/test/warntest.txt
build/test/xref-test.html
dist/test/
build/test/test.exe.manifest
